# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Wagtail / Media files (uploads)
media/
!media/.gitkeep

# Environment variables
.env
.venv
venv/
env/

# Node.js / Vite
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/